<section>
    <div class="container-fluid">
        <!-- include or render navigation (side bar) here -->
        <div class="col align-center px-5 py-4">
            <h4>Today</h4>
            <small>Sat 12 Nov</small>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">1</th>
                        <td>Lorem</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                        <td>
                            <i class="bi bi-pencil-square"></i>
                            <i class="bi bi-calendar"></i>
                            <i class="bi bi-chat-left-text"></i>
                            <i class="bi bi-three-dots"></i>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">2</th>
                        <td>Lorem</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                        <td>
                            <i class="bi bi-pencil-square"></i>
                            <i class="bi bi-calendar"></i>
                            <i class="bi bi-chat-left-text"></i>
                            <i class="bi bi-three-dots"></i>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">3</th>
                        <td>Lorem</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                        <td>
                            <i class="bi bi-pencil-square"></i>
                            <i class="bi bi-calendar"></i>
                            <i class="bi bi-chat-left-text"></i>
                            <i class="bi bi-three-dots"></i>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>